.charactersList {
  display: flex;
  max-width: 1024px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-right: auto;
  margin-left: auto;
}

.search-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
