.character-container {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.character-margin-auto {
  margin: auto;
}

.card-description {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 0.375rem;
  flex-direction: column;
  max-width: 24rem;
  display: flex;
}
.text-description {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
